{% extends 'base.html' %}
{% load static %}


{% block body %}
<body class="servicePage">
{% endblock %}

{% block content %}
<section id="service">
    <div class="container">
        <div class="service">
            <div class="breadCrumbs">
                <a href="#" class="breadCrumbs__item">На главную</a>
            </div>
            <div class="service__block">
                <h1 class="service__title">Запись на услугу</h1>
                <button onclick="document.getElementById('footer').scrollIntoView({ behavior: 'smooth' });"
                        class="service__btn btn">Запись по телефону
                </button>
            </div>

            <form action="#" class="service__form">

                <div class="service__form_block service__salons">
                    <button class="accordion">(Выберите салон)</button>
                    <div class="panel">
                        {% for salon in salons %}
                        <div class="accordion__block fic" data-id="{{ salon.id }}">
                            <div class="accordion__block_intro">{{salon.title}}</div>
                            <div class="accordion__block_address">{{ salon.address}}</div>
                        </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="service__form_block service__services">
                    <button class="accordion">(Выберите услугу)</button>
                    <div id="servicesAccordion" class="panel">
                        {% for service in services %}
                        <div class="accordion__block fic" data-id="{{ service.id }}">
                            <div class="accordion__block_item_intro">
                                {{ service.title }}
                            </div>
                            <div class="accordion__block_item_address">
                                {{ service.price }} ₽
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>


                <div class="service__form_block service__masters">
                    <button class="accordion">(Выберите мастера)</button>
                    <div id="mastersAccordion" class="panel">

                        <div class="accordion__block fic" data-id="any_master">
                            <div class="accordion__block_elems fic">
                                <img src="{% static 'img/masters/avatar/all.svg' %}"
                                     alt="avatar"
                                     class="accordion__block_img">
                                <div class="accordion__block_master">Любой мастер</div>
                            </div>
                        </div>
                        {% for specialist in specialists %}
                        <div class="accordion__block fic" data-id="{{ specialist.id }}">
                            <div class="accordion__block_elems fic">
                                <img src="{{ specialist.image.url }}" alt="avatar"
                                     class="accordion__block_img">
                                <div class="accordion__block_master">{{ specialist.full_name }}
                                </div>
                            </div>
                            <div class="accordion__block_prof">{{ specialist.position }}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
<section id="time">
    <div class="container">
        <div class="time">
            <h2 class="time__title">Выберите время</h2>
            <div class="time__block">
                <div class="row">
                    <div class="col-md-4">
                        <div id="datepickerHere"></div>
                    </div>
                    <div class="col-md-8">
                        <div class="time__elems">
                            <div class="time__items">
                                <div class="time__elems_intro">Утро</div>
                                <div class="time__elems_elem fic">
                                    <button data-time="10:00" class="time__elems_btn">
                                        10:00
                                    </button>
                                    <button data-time="10:30" class="time__elems_btn">
                                        10:30
                                    </button>
                                </div>
                            </div>
                            <div class="time__items">
                                <div class="time__elems_intro">День</div>
                                <div class="time__elems_elem fic">
                                    <button data-time="12:00" class="time__elems_btn">
                                        12:00
                                    </button>
                                    <button data-time="12:30" class="time__elems_btn">
                                        12:30
                                    </button>
                                    <button data-time="15:00" class="time__elems_btn">
                                        15:00
                                    </button>
                                    <button data-time="16:30" class="time__elems_btn">
                                        16:30
                                    </button>
                                </div>
                            </div>
                            <div class="time__items">
                                <div class="time__elems_intro">Вечер</div>
                                <div class="time__elems_elem fic">
                                    <button data-time="17:00" class="time__elems_btn">
                                        17:00
                                    </button>
                                    <button data-time="18:30" class="time__elems_btn">
                                        18:30
                                    </button>
                                    <button data-time="19:00" class="time__elems_btn">
                                        19:00
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="time__btns">
                <div class="row">
                    <div class="col-md-12">
                        <button class="time__btns_next">Далее</button>
                        <button class="time__btns_home">На главную</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    const anyMasterImageUrl = "{% static 'img/masters/avatar/all.svg' %}";
</script>

{% endblock %}
